1. Set Up

    1.1. Import libraries

    1.2. Load data

2. Preliminary Analysis

    2.1. Data Overview

    2.2. Data Cleaning
3. Exploratory Data Analysis (EDA)
4. More sections

# 1. Set Up

### 1.1. Import libraries

In [1]:
# import library for pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# import library for pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### 1.2. Load data

In [2]:
# Generate spark session
spark = SparkSession.builder.appName('mma-datathon').getOrCreate()

# Read the data from csv file
df = spark.read.csv('mma_mart.csv', inferSchema=True, header=True)

23/09/26 22:10:09 WARN Utils: Your hostname, Minhs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 10.0.0.3 instead (on interface en0)
23/09/26 22:10:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/26 22:10:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# 2. Preliminary Analysis

### 2.1. Data Overview

In [4]:
# dimension of the data
print(("Number of rows: %d") % df.count())
print(("Number of columns: %d") % len(df.columns))

Number of rows: 987259
Number of columns: 7

In [5]:
df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- aisle_id: integer (nullable = true)
 |-- aisle: string (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- department: string (nullable = true)

In [6]:
df.show(n=1)

+--------+----------+----------------+--------+------+-------------+----------+
|order_id|product_id|    product_name|aisle_id| aisle|department_id|department|
+--------+----------+----------------+--------+------+-------------+----------+
|       1|     49302|Bulgarian Yogurt|     120|yogurt|           16|dairy eggs|
+--------+----------+----------------+--------+------+-------------+----------+
only showing top 1 row

In [8]:
# Convert Spark df to pandas df
df_pandas = pd.DataFrame(df.take(987259), columns=df.columns)

Number of unique items in each column

In [9]:
df_pandas.nunique()

order_id         97833
product_id       35070
product_name     35070
aisle_id           134
aisle              134
department_id       21
department          21
dtype: int64

In [18]:
# How to use SQL example
df.createOrReplaceTempView("mart")
spark.sql("SELECT COUNT(product_id) AS top_5_items_per_order FROM mart GROUP BY order_id ORDER BY top_5_items_per_order DESC LIMIT 5").show()

+---------------------+
|top_5_items_per_order|
+---------------------+
|                  127|
|                  109|
|                   92|
|                   92|
|                   83|
+---------------------+

### 2.2. Data Cleaning

In [10]:
# Checking for null values in the dataframe
dict_null = {col:df.filter(df[col].isNull()).count() for col in df.columns}
dict_null # The output in dict where key is column name and value is null values in that column

{'order_id': 0,
 'product_id': 0,
 'product_name': 0,
 'aisle_id': 0,
 'aisle': 0,
 'department_id': 0,
 'department': 0}

+---------------------+
|top_5_items_per_order|
+---------------------+
|                  127|
|                  109|
|                   92|
|                   92|
|                   83|
+---------------------+

# 3. Exploratory Data Analysis (EDA)